html{
    background-color: aqua;
}
p{
    color:maroon ;
}
.logo {
    border: 2px solid beige;
    border-radius: 50%;
}
.logo_section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header{
    display:flex;
    justify-content: space-between;
    
}
.links{
    display: flex;
    justify-content: space-between;
    gap:30px;
}
li{
    list-style: none;
}