html{
    background-color:plum;
}
p{
    color:maroon ;
}
.logo {
    border: 2px solid beige;
    border-radius: 50%;
}
.logo_section{
    display: flex;
    justify-content: flex-start;
    align-items: start;
}
.header{
    height: 200px;
    display:flex;
    justify-content: space-between;
    
}
.links{
    display: flex;
    justify-content: space-between;
    gap:30px;
}
li{
    list-style: none;
}
.intro{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 40px;
}
button{
    background-color: blue;
    border: none;
    color:white;
    padding: 15px 32px;
    border-radius: 8px;

}
button:hover{
    background-color: violet;

}
button:active{
    background-color: indigo;
}
.intro-image{
    border-radius: 16px;
}
.services{
    background-color: peachpuff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.details{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    align-items: center;
    justify-content: center;
}
.service{
    border: 6px solid plum;
    border-radius: 30%;
    padding: 20px;
    height: 200px;
    width: 200px;
    background-color: purple;
}
.icon{
    margin:20px auto;
}
.text, p{
    color: black;
}
.quote{
    background-color:palevioletred;
    height: 100px;
    width: auto;
    margin: -10px auto;
    padding: 80px;
    text-align: center;
}
.action{
    height: 100px;
    width: 700px;  
    background-color: indigo;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
}
footer{
    text-align: center;
    background-color: purple;
    height: 40px;
    padding: 20px;
}